<%- include('common/header',{titulo:titulo,
esAdministrador:esAdministrador,esUsuario:esUsuario,logedin:logedin,nombreUsuario:nombreUsuario})
%>

<div class="container mt-3 mb-5">
  <h3>Bienvenido</h3>
</div>

<%- include('common/libraries') %>
